* {
    padding: 0px;
    margin: 0px;
}

header {
    height: 50px;
    padding-bottom: 20px;
    border-bottom: 2PX SOLID black;
}

ul { 
    list-style: none;
}

li {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
}

button {
    border: 0.2rem solid lightcoral;
    background-color: mediumslateblue;
    border-radius: 15px;
    margin: 1rem;
    padding: 0.5rem;
}

button:hover{
    box-shadow: 2px 2px darkmagenta;
    cursor: crosshair;
}

a {
    color: lightcoral;
    text-decoration: none;
    padding: 1rem;
    font-family: 'Times New Roman', Times, serif;
}











body {
    background-color: bisque;
    text-align: center;
}

#div1 {
    padding-bottom: 30px;
}

#div2 {
    padding-bottom: 30px;
}

#div3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
}

#paraleft {
    text-align: center;
}

#pic1 {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    filter: saturate(150%);
}

#pararight {
    text-align: center;
}

@keyframes pulse {
    0% {
        opacity: 100%;
    }
    50% {
        opacity:  65%;
    }
    100% {
        opacity: 100%;
    }
}


#pic2 {
    animation: pulse 2s ease-in-out infinite;
}


video {
    border-radius: 30px 40px 50px 10px;
    margin-top: 3rem;

}

